<hgroup>
  <h1>CityWatch</h1>
  <h3>Officer Login</h3>
</hgroup>
<%= form_for(:session, url: login_path) do |f|%>
<form>
  <div class="group">
    <!-- <input type="text"> -->
    <%= f.label :email %><br>
    <%= f.text_field :email %>
    <span class="highlight"></span><span class="bar"></span>
  </div>
  <div class="group">
  <!--   <input type="email"> -->
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  <span class="highlight"></span><span class="bar"></span> 
  </div>
  <%= f.submit "log in" %>
  <% end %>
  <!-- <button type="button" class="button buttonBlue">Log in -->
    <!-- <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div> -->
  <!-- </button> -->
</form>
