<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">CityWatch</span>
      <a class="mdl-navigation__link" href="/cities/1/officers/login">Officer Login</a>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
     <!--  <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav> -->
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Select Your City</span>
    <nav class="mdl-navigation">
      <% @cities.each do |city| %>

        <a class="mdl-navigation__link" href="/cities/<%=city.id%>/videos/new"><%= city.name %></a>
        <% end %>
    </nav>
  </div>
  <main class="mdl-layout__content spacer">
    <div class="page-content spacer">
      <div class="homepage_content">
        <%= image_tag "binos.png" %>
        <h2>We're watching you, Mark</h2>
      </div>
    </div>
  </main>
</div>

<div class="spacer"></div>


<!-- 
<h1>Welcome to CityWatch</h1>
<h2>Please select a city below</h2>
    <% @cities.each do |city| %>
      <a href="/cities/<%=city.id%>/officers/login"><% city.name %> officer login</a>
      <br>
    <% end %>


<button id="demo-menu-lower-left"
        class="mdl-button mdl-js-button mdl-button--icon" class ="city_list">
  <i class="material-icons">more_vert</i>
</button>

<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-left">
   <li disabled class="mdl-menu__item mdl-menu__item--full-bleed-divider">Select your city</li>
   <% @cities.each do |city| %>

  <a href="/cities/<%=city.id%>/videos/new"><li class="mdl-menu__item"><%= city.name %></li></a>
  <% end %>
  
</ul> -->



